numpy
matplotlib
tqdm
pandas
scipy
scikit-learn
opencv-python

torch
torchvision
pycocotools
datasets
transformers
timm

accelerate
bitsandbytes
torchaudio
einops
transformers_stream_generator
tiktoken

openai
